/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --kapebara-green: #4f772d;
  --kapebara-brown: #3d3023;
  --text-muted: #757575;
  --font-title: 'DM Sans', sans-serif;
  --font-body: 'Plus Jakarta Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
